@import "../index.scss";

.navigation-bar {
  display: flex;
  width: 100vw;
  border-bottom: 5px solid $accent;

  .logo {
    width: 50%;
    color: $primary;
    padding: 0 0 0 5%;
  }

  .menu {
    width: 50%;
    align-items: center;
    display: flex;

    .menu-list {
      margin: 0 0 0 auto;
      a {
        display: inline;
        margin: 0 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
      }

      a:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
